:root {
  --cell-size : 32px;
  --border-radius : 5px;
  --aside-width : 300px;
  --header-height : 120px;
  /* Palette https://lospec.com/palette-list/japanese-woodblock */
  /* Maybe try : https://lospec.com/palette-list/vanilla-milkshake */
  --iron :  #b1a58d ;
  --silver : #e3cfb4;
  --black : #2b2821 ;
  --gold :  #e0c872 ;
  --dark-gold :  #d4804d;
  --sand :  #d9ac8b;
  --dark-sand :  #624c3c ;
   --water :  #5d7275;
  --dark-water :  #243d5c;
  --blue:  #5c8b93;
  --red:  #b03a48 ;
}

*{
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

body {
  font-family: monospace;
  background: var(--black); 
  color: var(--black); 
  font-size: 10pt;
  padding:1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/********* GENERAL *******/


h1, h2, h3, h4, p{
  margin: 0;
  font-size: inherit;
}

h1 {
  color: var(--iron);
  font-size: larger;
}

button {
  border:none;
  padding: 1px 3px;
  margin:2px;
  background: var(--iron);
}

button[disabled]>*{
  opacity: .4;
}


/********* MACRO ***********/
#app {
  width:100%;
  height: 100%;
  min-width:800px;
  min-height:600px;
  display: flex;
  flex-direction: column;
}

#app>main{
  display: flex;
  justify-content: center;
}

#app>main>aside{
  width:var(--aside-width);
  display: flex;
  flex-direction: column;
}

#app>main>aside>:last-child{
    flex-grow: 1;
}

#app>main>#map{
}

/********* MAP **************/

#map {
  position: relative;
  background: var(--water);
  margin:2px;
}

#map table {
 border-collapse: collapse;
}

#map td {
  padding:0;
  border:1px solid var(--water);
}

#map .arrow{
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
}

.cell {
  background:var(--dark-water);
  width:var(--cell-size);
  height: var(--cell-size);
}


/**** OBSOLETE ****/
.cell.select:hover:after {
  content:'';
  width: var(--cell-size);
  height: var(--cell-size);
  display: block;
}

.cell.select:hover:after{
    background: url('../assets/gui/select.png');
}



/*******/

.cell * {
  position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.cell.visible {
  background: var(--sand);
}

@keyframes moving {
  from{
    padding-top:var(--top-offset);
    padding-left:var(--left-offset);
  }
  to{
    padding-top:0;
    padding-left:0;
  }
}

.cell .movingfromleft,
.cell .movingfromright,
.cell .movingfromtop,
.cell .movingfrombottom
 {
  --top-offset: 0;
  --left-offset: 0;
   position: absolute;
   animation-duration: .5s;
   animation-name: moving;
   /* animation-timing-function: ease-in; */
}

.cell .movingfromleft {
  --left-offset:calc(-1 * var(--cell-size));
}

.cell .movingfromright {
  --left-offset:var(--cell-size);
}

.cell .movingfromtop {
  --top-offset: calc(-1 * var(--cell-size));
}

.cell .movingfrombottom{
  --top-offset: var(--cell-size);
}


.selected {
  filter: drop-shadow(0 0 5px white) drop-shadow(0 0 5px white)  brightness(1.3);
}

/************** FULL SCREEN COMPONENTS ***************/

.fullscreen {
  background:var(--silver);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.fullscreen > *{
  margin:10px;
}

.fullscreen button {
  height: 50px;
  width: 300px;
  border-radius: 3px;
}


#join-room>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join-room>div>* {
  margin:5px;
}

#loading .fill-bar {
  max-width: 500px;
}



/********* GAME INTERFACE *******/

.playername, .entityname{
  display: inline-block;
  text-decoration: underline;
}


.panel{
  background: var(--silver);
  display: flex;
  flex-direction: column;
  
    padding: 3px;

  border-radius: 5px;
  margin:2px;

}

.panel > main {
    padding: 10px;
  height:160px;
  display: flex;
  flex-direction: column;
}

.panel#messages {
    height: 40%;
}

.panel#messages main {
  display: flex;
  flex-direction: column;
}

.panel#messages ul {
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;
 overflow: scroll;
}

.panel#messages li {
  margin:4px;
}

.panel#messages form {
  display: flex;
  flex-wrap: nowrap;
    min-height:24px;
  margin:0;
  border:1px solid var(--black);
  border-radius:4px;
  overflow: hidden;
}

.panel#messages form * {
  border:none;
  margin:0;
  padding: 0 4px;
}

.panel#messages form input{
  flex-grow: 1;
    border-right:1px solid var(--black);

}



.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow:1;

  margin:10px 0;
}
.card{
    height: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
  background: #eee;


}
.card:last-child{
    margin-right: 0;
}
.card header{
  flex-grow:1;
/*  padding: 10px 0;*/
    border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card main{
}

.playercard{
  
}


.fill-bar {

  position: relative;
  background: var(--iron);
  width: 100%;
    height: 24px;
    border-radius: 4px;
  overflow: hidden;
  border:1px solid #888;

}

.fill-bar .label {
  position: relative;
  line-height: 24px;
  text-align: center;


}
.fill-bar .fill {
  position: absolute;
  background: white;
  height: 100%;
  
}

.gold-bar .fill {
  background: #ffd080;
    border-radius: 2px;
}

.gold-bar .label:after {
  display: inline-block;
  content: '';
  margin:0 5px;
  width:12px;
  height: 12px;
 background: url('../assets/gui/coin.png');
 background-repeat: no-repeat;


}

#room {
  display: flex;
  flex-direction: column;
  height: var(--header-heigth);
}


#room>header{
  background: var(--silver);
  display: flex;
      border-radius: 5px;
  align-items: center;
  margin:2px;
  flex-grow: 1;

}

#room>header h2{
  flex-grow: 1;
  margin: 0 5px
}

.roomstate {
    background: var(--silver);
  display: flex;
      border-radius: 5px;
  margin:2px;
  text-align: center;
      height: 24px;
  align-items: center;
}

.roomstate strong {
  font-size: larger;
    margin:auto;
  padding: 0 20px;
  width: 100%;
  margin: 3px;
  border-radius:3px;
}

section.players{
  display: flex;
  justify-content: stretch;
}
.playercard {
  padding: 3px;
  background: var(--silver);
  width: 50%;
  border-radius: 5px;
  margin:2px;
}

.playercard main {  

}
.playercard header {
  text-align: center;
  margin-bottom: 5px;
}

.creations {
  display: flex;
  flex-direction: column;
}
.creations button{
  border-radius:4px;
  height:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin:5px;
}

.creations button img {
  image-rendering: pixelated;
  width: 32px;
  height:32px;
}

.gold-value {
  font-weight:bold;
  display: block;
}

.gold-value:before{
  display: inline-block;
  content: '';
  margin:0 5px;
  width:12px;
  height: 12px;
 background: url('../assets/gui/coin.png');
 background-repeat: no-repeat;

}

.selection-actions{
  display: flex;
  flex-direction: column;
  
}
.shortcut{
  display: block;
  margin: auto;
  width:40px;
  color:#333;
  background: lightgray;
   margin:2px auto;
  border-radius:5px;
  font-size: smaller;
  border: 1px solid;
  
  
}


svg.entity{
  width:var(--cell-size);
  height:var(--cell-size);
  display:inline;
  fill:var(--white);
  stroke:var(--black);
  stroke-width:0.07em;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.ally path[data-color="player"]{
  fill:var(--blue);
}


.enemy path[data-color="player"]{
  fill:var(--red);
}

path[data-color="water"]{
  fill:var(--water);
  stroke:var(--dark-water);

}
.water {
  background: var(--water);
}


path[data-color="silver"]{
  fill:var(--silver);
}

path[data-color="iron"]{
  fill:var(--iron);
}

path[data-color="gold"]{
  fill:var(--gold);
}

