:root {
  --cell-size : 32px;
  --border-radius : 2px;
  --aside-width : 300px;
  --header-height : 120px;
  --app-padding : 15px;
  /* Palette https://lospec.com/palette-list/japanese-woodblock */
  /* Maybe try : https://lospec.com/palette-list/vanilla-milkshake */
  --iron :  #b1a58d ;
  --silver : #e3cfb4;
  --black : #2b2821 ;
  --white : #fff ;
  --gold :  #e0c872 ;
  --dark-gold :  #d4804d;
  --sand :  #d9ac8b;
  --dark-sand :  #624c3c ;
   --water :  #5d7275;
  --dark-water :  #243d5c;
  --blue:  #5c8b93;
  --red:  #b03a48 ;
}

*{
  box-sizing: border-box;
  font-family: monospace;
  color: var(--black);

}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--black); 
  font-size: 10pt;
}



/********* HEADERS AND P *******/

h1, h2, h3, h4, p{
  margin: 0;
  font-size: inherit;
}

h1 {
  color: var(--iron);
  font-size: larger;
}

/********* BUTTONS *******/

button {
  border:none;
  background: var(--iron);
  border: 1px solid var(--iron);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button[disabled]{
  color: var(--silver);
  cursor:inherit;
}

button[disabled]>*{
  opacity: .4;
}

button:active{
  background: var(--white);
}


/********* APP ***********/

#app {
  padding:var(--app-padding);
  width:100%;
  height: 100%;
  min-width:320px;
  min-height:320px;
}


#app>main{
  width:100%;
  height: 100%;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

#app>main>aside{
  width:var(--aside-width);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
}

#app>main>aside>:last-child{
    flex-grow: 1;
}



/************** POPUP COMPONENTS ***************/

.popup {
  background:var(--silver);
  position: absolute;
  z-index: 1;
  top:calc(50% - 150px);
  left:calc(50% - 300px);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width:600px;
  max-height:300px;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}


/************** FULLSCREEN COMPONENTS ***************/

.fullscreen {
  position: absolute;
  overflow: scroll;
  top: 0; left:0;
  border: var(--app-padding) solid var(--black);
  z-index: 1;
  text-align: center;
  background:var(--silver);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.fullscreen > *{
  margin:10px;
}

.fullscreen button {
  height: 50px;
  width: 300px;
  border-radius: var(--border-radius);
}


#join-room>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join-room>div>* {
  margin:5px;
}

#loading .fill-bar {
  max-width: 500px;
}



/********* NAMES *******/

.playername, .entityname{
  display: inline-block;
  text-decoration: underline;
}

.playername.ally{
  color:var(--red);
}

.playername.enemy{
  color:var(--blue);
}


/************ PANEL ***************/


.panel{
  background: var(--silver);
  display: flex;
  flex-direction: column;
  
    padding: 3px;

    border-radius: var(--border-radius);
    margin:2px;

}

.panel > main {
    padding: 10px;
  height:160px;
  display: flex;
  flex-direction: column;
}

.panel#messages {
    height: 200px;
}

.panel#messages main {
  display: flex;
  flex-direction: column;
}

.panel#messages ul {
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;
 overflow: scroll;
}

.panel#messages li {
  margin:4px;
}

.panel#messages form {
  display: flex;
  flex-wrap: nowrap;
    min-height:24px;
  margin:0;
  border:1px solid var(--black);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.panel#messages form * {
  border:none;
  margin:0;
  padding: 0 4px;
}

.panel#messages form input{
  flex-grow: 1;
    border-right:1px solid var(--black);

}

/************ CARDS ***************/

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow:1;

  margin:10px 0;
}
.card{
    height: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
  background: #eee;


}
.card:last-child{
    margin-right: 0;
}
.card header{
  flex-grow:1;
/*  padding: 10px 0;*/
    border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/************ FILL BAR ********/

.fill-bar {

  position: relative;
  background: var(--iron);
  width: 100%;
    height: 24px;
    border-radius: var(--border-radius);
    overflow: hidden;
  border:1px solid #888;

}

.fill-bar .label {
  position: relative;
  line-height: 24px;
  text-align: center;


}
.fill-bar .fill {
  position: absolute;
  background: white;
  height: 100%;
  
}

.gold-bar .fill {
  background: #ffd080;
  border-radius: var(--border-radius);
}

.gold-bar .label:after {
  display: inline-block;
  content: '';
  margin:0 5px;
  width:12px;
  height: 12px;
 background: url('../assets/gui/coin.png');
 background-repeat: no-repeat;


}



/************ ROOM ********/

#room {
  display: flex;
  flex-direction: column;
  height: var(--header-heigth);
}


#room>header{
  background: var(--silver);
  display: flex;
  border-radius: var(--border-radius);
  align-items: center;
  margin:2px;
  flex-grow: 1;

}

#room>header h2{
  flex-grow: 1;
  margin: 0 5px
}

.roomstate {
    background: var(--silver);
  display: flex;
  border-radius: var(--border-radius);
  margin:2px;
  text-align: center;
      height: 24px;
  align-items: center;
}

.roomstate strong {
  font-size: larger;
    margin:auto;
  padding: 0 20px;
  width: 100%;
  margin: 3px;
  border-radius:3px;
}


/******* PLAYERS ***********/
section.players{
  display: flex;
  justify-content: stretch;
}

.playercard {
  padding: 3px;
  background: var(--silver);
  width: 50%;
  border-radius: var(--border-radius);
  margin:2px;
}


.playercard header {
  text-align: center;
  margin-bottom: 5px;
}

.playercard.empty{
  background: var(--iron);
}
.playercard.empty>* {
  display: none;
}
/********** CREATIONS *********/

.creations {
  display: flex;
  flex-direction: column;
}

.creations button{
  border-radius: var(--border-radius);
  height:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin:5px;
}

.creations button img {
  image-rendering: pixelated;
  width: 32px;
  height:32px;
}

.gold-value {
  font-weight:bold;
  display: block;
}

.gold-value:before{
  display: inline-block;
  content: '';
  margin:0 5px;
  width:12px;
  height: 12px;
 background: url('../assets/gui/coin.png');
 background-repeat: no-repeat;

}

/********* ACTIONS *********/

.selection-actions{
  display: flex;
  flex-direction: column;
}


/*************SHORTCUTS********/


.shortcut{
  display: block;
  margin: auto;
  width:40px;
  color:#333;
  background: lightgray;
   margin:2px auto;
   border-radius: var(--border-radius);
   font-size: smaller;
  border: 1px solid;
}

